[flake8]
max-line-length = 120
extend-ignore = E203
extend_exclude = sdlf-foundations/scripts/deequ/,sdlf-utils/
# pyproject.toml cannot be used for flake8: https://github.com/PyCQA/flake8/issues/234#issuecomment-812800722
