# Packaged Templates
output/

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
__pycache__
.pytest_cache
*.egg-info

# Editors
.vscode/
.idea/
*.swp

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
